# 0. import packages

In [1]:
import numpy as np
import pandas as pd

# 1. read data and preprocessing

In [2]:
data = pd.read_csv('housePrice.csv')
data.head()

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33

In [3]:
data.dtypes

# data['Area'].dtype

Area           object
Room            int64
Parking          bool
Warehouse        bool
Elevator         bool
Address        object
Price         float64
Price(USD)    float64
dtype: object

In [5]:
data['mean_price'] = 0
address_names = data['Address'].unique()
mean_prices = {}
for address in address_names:
    indices = data[data['Address'] == address].index
    data.loc[indices, 'mean_price'] = (data.loc[indices]['Price'] / data.loc[indices]['Area'])
    print(data.loc[indices]['Price'] / data.loc[indices]['Area'])

0       2.936508e+07
1       3.083333e+07
7       3.644068e+07
22      2.892308e+07
56      3.263889e+07
            ...
3405    2.773585e+07
3416    4.390244e+07
3418    3.500000e+07
3446    3.500000e+07
3470    2.783505e+07
Length: 130, dtype: float64
2       6.962025e+06
6       6.896552e+06
50      5.510204e+06
104     5.257732e+06
152     5.761905e+06
            ...
2842    2.600000e+07
3007    5.612245e+06
3015    6.962025e+06
3271    6.632653e+06
3331    7.605634e+06
Length: 146, dtype: float64
3       9.500000e+06
42      8.000000e+06
86      6.200000e+06
101     8.666667e+06
103     6.200000e+06
            ...
3119    8.761905e+06
3120    7.250000e+06
3121    9.789474e+06
3276    6.875000e+06
3435    8.703704e+06
Length: 69, dtype: float64
4       5.691057e+07
20      7.526882e+07
47      6.194690e+07
211     1.720000e+08
227     1.285714e+08
228     9.000000e+07
271     1.300000e+08
344     1.013793e+08
602     7.500000e+07
607     5.000000e+07
610     9.000000e+07
611     8.969697e+07
649     1.130435e+08
650     1.178344e+08
699     6.451613e+07
775     5.314286e+07
842     6.500000e+07
850     6.000000e+07
860     7.812500e+07
863     6.451613e+07
1033    7.515152e+07
1096    7.800000e+07
1119    1.400000e+08
1187    8.000000e+07
1202    6.571429e+07
1214    6.250000e+07
1216    7.142857e+07
1603    7.731959e+07
1613    1.100000e+08
1666    6.666667e+07
1674    9.703922e+07
1717    8.500000e+07
1828    7.755102e+07
1838    8.000000e+07
1858    1.000000e+08
1898    5.806452e+07
1900    7.586207e+07
1971    5.811966e+07
2066    5.652174e+07
2075    5.862069e+07
2082    5.368421e+07
2083    6.500000e+07
2138    8.233333e+07
2407    5.965909e+07
2538    9.059829e+07
2563    8.166667e+07
2598    1.600000e+08
2810    7.000000e+07
2922    7.352941e+07
2968    5.773196e+07
2982    8.728814e+07
3023    6.153846e+07
3079    1.027397e+08
3270    1.100000e+08
3333    7.241379e+07
3334    1.000000e+08
3335    9.000000e+07
3336    1.043478e+08
3463    7.518797e+07
dtype: float64
5       2.928571e+07
90      3.421053e+07
92      3.066667e+07
346     7.000000e+07
353     3.875000e+07
456     4.232323e+07
721     4.741379e+07
948     3.869048e+07
1002    4.264151e+07
1053    3.448276e+07
1075    3.800000e+07
1097    3.800000e+07
1149    3.906667e+07
1302    3.602941e+07
1407    1.045296e+08
1764    4.526316e+07
1904    5.099010e+07
2105    4.776119e+07
2689    1.200000e+08
2691    5.700000e+07
2772    3.042254e+07
2913    4.666667e+07
2914    3.290323e+07
2919    3.419355e+07
2924    4.705882e+07
3078    5.277778e+07
3152    3.687500e+07
dtype: float64
8       9.129630e+06
178     7.954545e+06
245     1.578947e+07
503     1.194030e+07
542     1.652174e+07
            ...
3154    1.319444e+07
3298    1.450000e+07
3310    1.420290e+07
3337    1.200000e+07
3466    7.540984e+06
Length: 83, dtype: float64
9       3.338028e+07
10      3.602941e+07
18      4.571429e+07
29      3.200000e+07
31      4.489796e+07
            ...
3447    3.666667e+07
3454    3.100000e+07
3462    3.250000e+07
3467    3.533333e+07
3468    5.500000e+07
Length: 145, dtype: float64
11      3.281250e+07
12      3.129630e+07
16      4.322581e+07
322     2.900000e+07
536     3.803030e+07
543     5.600000e+07
738     3.500000e+07
803     3.719512e+07
1392    4.545455e+07
1399    3.629032e+07
1980    3.500000e+07
2100    2.547170e+07
2288    3.125000e+07
2300    3.093023e+07
2425    3.333333e+07
2513    3.800000e+07
2532    1.095238e+08
2589    3.559322e+07
2652    3.200000e+07
2717    3.800000e+07
3053    3.387097e+07
3222    4.339623e+07
3314    4.846154e+07
3357    4.123711e+07
3421    2.642857e+07
dtype: float64
13      8.088235e+07
24      6.809524e+07
40      5.862069e+07
41      7.000000e+07
76      6.754967e+07
            ...
3408    4.193548e+07
3410    5.555556e+07
3411    5.369231e+07
3412    4.480000e+07
3414    5.833333e+07
Length: 129, dtype: float64
14      5.263158e+07
1694    8.611410e+07
1741    5.045455e+07
2188    7.200000e+07
2268    2.000000e+07
2418    7.500000e+07
2578    6.092063e+07
2591    5.882353e+07
2858    4.000000e+07
3038    5.181818e+07
dtype: float64
15      9.047619e+06
166     1.350000e+07
186     8.873239e+06
242     9.533333e+06
243     1.395349e+07
701     1.174528e+07
805     9.387755e+06
885     6.647059e+06
886     7.051282e+06
1353    1.590909e+07
1594    1.224638e+07
1730    1.100000e+07
1736    1.666667e+07
1744    1.220000e+07
1745    1.400000e+07
1747    1.700855e+07
1748    1.802198e+07
1749    1.300000e+07
1750    2.300000e+07
2263    2.000000e+07
2282    3.183673e+07
2386    9.354839e+06
2440    1.434783e+07
2449    1.428571e+07
2515    6.276596e+06
2536    1.100000e+07
2537    1.200000e+07
2539    1.770833e+07
2587    1.375000e+07
2595    1.345133e+07
2615    1.282051e+07
2635    1.400000e+07
2659    1.617647e+07
2676    1.198529e+07
2921    4.844444e+06
2923    5.058824e+06
2925    4.800000e+06
2926    6.000000e+06
3402    1.017857e+07
dtype: float64
17      2.265625e+07
19      3.309524e+07
27      3.300000e+07
93      3.250000e+07
154     3.083333e+07
            ...
2789    2.403846e+07
2792    2.972973e+07
3203    8.620690e+06
3245    3.300000e+07
3365    2.200000e+07
Length: 63, dtype: float64
21      2.873563e+07
2227    2.816092e+07
dtype: float64
23     23000000.0
520    23000000.0
dtype: float64
25      9.340625e+07
562     9.047619e+07
652     6.687500e+07
1263    1.584158e+08
1328    1.000000e+08
1350    1.100000e+08
1366    1.800000e+08
1415    1.916667e+08
1445    1.100000e+08
1463    9.235294e+07
1545    1.225989e+08
1565    1.970588e+08
1627    8.333333e+07
1711    7.513812e+07
1773    6.000000e+07
1798    4.500000e+07
1994    1.233645e+08
2284    7.500000e+07
3076    1.400000e+08
3111    1.600000e+08
3438    8.064516e+07
3457    1.016260e+08
dtype: float64
26      2.300000e+07
71      2.291667e+07
72      2.297297e+07
78      2.297297e+07
638     2.300000e+07
665     2.328571e+07
777     2.302083e+07
3160    2.297297e+07
3383    2.250000e+07
3389    2.319444e+07
3391    2.323944e+07
3392    2.302326e+07
dtype: float64
28      5.727273e+06
148     4.724409e+07
150     3.174603e+07
198     4.615385e+07
268     4.615385e+07
            ...
3376    3.473684e+07
3386    3.722222e+07
3400    3.722222e+07
3406    3.333333e+07
3474    4.069767e+07
Length: 93, dtype: float64
30      1.666667e+07
125     2.613636e+07
130     2.386364e+07
514     2.300000e+07
695     3.174603e+07
730     3.000000e+07
760     1.803279e+07
880     2.072917e+07
1120    2.692308e+07
1560    2.183333e+07
1566    2.072917e+07
1611    2.833333e+07
1678    2.771084e+07
2061    1.704918e+07
2116    2.597101e+07
2136    1.878049e+07
2174    2.386364e+07
2204    1.876923e+07
2208    1.813433e+07
2218    2.177419e+07
2249    1.987805e+07
2306    2.550000e+07
2307    1.885714e+07
2311    1.668519e+07
2313    2.464789e+07
2317    2.453727e+07
2319    1.718750e+07
2323    1.280000e+07
2330    2.254902e+07
2340    1.526316e+07
2345    1.883333e+07
2346    2.115385e+07
2355    1.705882e+07
2429    1.948718e+07
2431    3.013333e+07
2432    1.685714e+07
2433    2.807018e+07
2434    2.051282e+07
2477    2.361111e+07
2479    2.683673e+07
2486    3.000000e+07
2603    1.912281e+07
2812    1.669014e+07
2947    2.352941e+07
2952    1.909091e+07
3036    1.926829e+07
3059    2.028986e+07
3082    1.666667e+07
3110    1.875000e+07
3134    2.000000e+07
3135    1.875000e+07
3146    2.800000e+07
3228    2.075000e+07
3232    2.228571e+07
3242    2.234043e+07
3309    2.533333e+07
3345    2.105263e+07
3380    1.575000e+07
3382    2.261905e+07
3384    1.232759e+07
dtype: float64
32      8.200000e+07
762     4.864865e+07
2651    5.283019e+07
3171    5.918367e+07
dtype: float64
33      3.507463e+07
155     3.846154e+07
305     4.239130e+07
359     3.701923e+07
362     3.909091e+07
366     4.277778e+07
491     3.298246e+07
493     3.015385e+07
501     3.561644e+07
788     3.333333e+07
793     3.880734e+07
857     4.083333e+07
938     4.000000e+07
947     3.571429e+07
1047    3.336364e+07
1052    4.307692e+07
1181    3.789474e+07
1184    4.000000e+07
1185    3.917526e+07
1219    4.142857e+07
1226    4.293478e+07
1227    2.923077e+07
1522    3.164179e+07
1657    3.315789e+07
1660    3.043478e+07
1661    3.625000e+07
1891    3.928571e+07
2180    3.385965e+07
2534    4.504950e+07
2588    4.333333e+07
2621    4.136364e+07
2630    2.651515e+07
2636    2.950820e+07
2737    3.600000e+07
2932    3.883495e+07
3246    2.923077e+07
3362    3.641304e+07
3473    3.000000e+07
dtype: float64
35      3.467742e+07
1129    3.304348e+07
1914    3.590909e+07
3122    3.205128e+07
dtype: float64
Series([], dtype: float64)
44      3.846154e+07
108     5.255474e+07
2366    5.255474e+07
3214    2.892157e+07
3359    4.457143e+07
dtype: float64
45      5.397727e+07
46      5.843137e+07
115     8.000000e+07
121     5.251799e+07
417     4.796296e+07
1393    7.000000e+07
2242    2.300000e+07
2514    3.870968e+07
2833    5.729167e+07
dtype: float64
48      1.850000e+07
896     1.500000e+07
1004    1.804598e+07
1676    2.048193e+07
2164    2.595420e+07
2191    2.157895e+07
2192    2.000000e+07
2683    1.800000e+07
2875    2.600000e+07
dtype: float64
49     4.100000e+07
766    4.444444e+07
dtype: float64
51      2.338710e+07
133     2.727273e+07
377     2.401515e+07
433     2.687500e+07
441     2.380952e+07
            ...
3223    2.470588e+07
3256    9.846154e+06
3441    2.156863e+07
3459    2.812500e+07
3472    2.805310e+07
Length: 83, dtype: float64
52      6.666667e+07
156     6.632911e+07
160     1.100000e+08
201     1.400000e+08
216     1.150000e+08
235     8.914286e+07
236     9.029412e+07
263     1.100000e+08
298     7.547170e+07
349     1.442308e+08
351     7.294118e+07
352     1.400000e+08
423     5.740741e+07
464     1.850000e+08
497     1.750000e+08
513     9.500000e+07
515     1.300000e+08
517     1.100000e+08
577     1.100000e+08
628     9.000000e+07
715     1.000000e+08
743     1.000000e+08
747     7.043478e+07
786     6.134021e+07
787     6.200000e+07
1045    6.969697e+07
1127    1.000000e+08
1163    8.888889e+07
1230    8.518519e+07
1233    1.019608e+08
1355    1.233333e+08
1359    1.241379e+08
1425    1.275862e+08
1426    1.172414e+08
1427    1.750000e+08
1469    6.170732e+07
1546    9.565217e+07
1564    9.000000e+07
1726    1.315789e+08
1931    9.913793e+07
1937    7.586207e+07
1942    8.861538e+07
2056    6.000000e+07
2058    6.000000e+07
2336    6.642857e+07
2368    1.257143e+08
2370    1.711111e+08
2395    1.195760e+08
2668    6.000000e+07
2841    7.469880e+07
2850    1.400000e+08
2960    1.698113e+08
3243    1.600000e+08
3263    4.198113e+07
3264    9.756098e+07
3319    7.176471e+07
3368    9.230769e+07
dtype: float64
53      8.466667e+06
73      6.363636e+06
79      6.363636e+06
99      6.170213e+06
109     4.823529e+06
            ...
3432    4.241379e+06
3437    4.229730e+06
3460    5.603448e+06
3476    4.866667e+06
3478    4.390244e+06
Length: 127, dtype: float64
54      3.327869e+07
55      3.327869e+07
61      4.179104e+07
62      3.055556e+07
63      3.492063e+07
            ...
3381    4.538462e+07
3443    5.000000e+07
3445    5.000000e+07
3449    4.700000e+07
3461    4.181818e+07
Length: 161, dtype: float64
57      3.000000e+07
544     2.564103e+07
774     3.250000e+07
843     1.532258e+07
873     1.774194e+07
1138    2.185185e+07
1500    2.888889e+07
1626    2.105263e+07
1663    3.153846e+07
1669    1.620000e+07
1670    2.243056e+07
1759    2.201493e+07
2124    1.800000e+07
2146    2.000000e+07
2172    1.750000e+07
2315    1.373770e+07
2329    1.969231e+07
2416    3.000000e+07
2430    3.083333e+07
2437    1.851064e+07
2600    2.189655e+07
2680    3.308333e+07
2970    1.949153e+07
3068    2.828571e+07
3109    1.702128e+07
3231    1.975000e+07
3279    2.272727e+07
3390    2.250000e+07
dtype: float64
58      5.901639e+07
66      5.737705e+07
459     1.489796e+08
538     7.000000e+07
669     5.737705e+07
1345    9.523810e+07
1357    1.590909e+08
1428    1.740000e+08
1462    6.481481e+07
1485    1.212121e+08
1567    5.370370e+07
1854    9.310345e+07
1916    1.263158e+08
2003    6.650000e+07
2007    6.534653e+07
2014    6.700000e+07
2020    7.277228e+07
2024    6.862745e+07
2026    7.000000e+07
2030    7.064677e+07
2032    7.000000e+07
2176    6.349206e+07
2272    7.000000e+07
2287    6.753247e+07
2394    2.400000e+08
dtype: float64
59      8.139535e+06
110     6.323529e+06
137     4.125000e+06
461     8.687943e+06
859     1.277372e+07
1436    7.272727e+06
1465    5.687500e+06
1972    7.529412e+06
2084    4.125000e+06
2113    8.466667e+06
2151    4.176471e+06
2181    7.529412e+06
2238    9.561404e+06
2255    6.060606e+06
2256    5.818182e+06
2259    5.974026e+06
2261    6.600000e+06
2410    9.649123e+06
2417    7.636364e+06
2575    8.490566e+06
2605    6.575342e+06
2672    7.894737e+06
2816    6.125000e+06
2935    4.923077e+06
2998    7.500000e+06
dtype: float64
60      3.267327e+07
138     3.250000e+07
474     4.583333e+07
682     4.431373e+07
1386    4.761905e+07
1645    1.461111e+07
2085    3.250000e+07
2109    4.500000e+07
2119    4.465649e+07
2879    1.450000e+07
3180    1.280000e+07
dtype: float64
67      4.428571e+07
162     4.761905e+07
169     4.200000e+07
175     4.104478e+07
224     4.187500e+07
            ...
3369    4.239130e+07
3377    3.695652e+07
3415    2.602740e+07
3450    3.764706e+07
3451    4.545455e+07

Length: 91, dtype: float64
69      3.622642e+07
163     2.800000e+07
197     5.500000e+07
202     5.480769e+07
209     3.133333e+07
            ...
3063    3.793103e+07
3124    4.154930e+07
3155    3.725000e+07
3349    3.750000e+07
3396    5.552381e+07
Length: 74, dtype: float64
70    9.444444e+06
dtype: float64
75      4.824561e+07
81      4.824561e+07
401     5.000000e+07
1585    3.095238e+07
1688    3.690722e+07
2153    4.152542e+07
2155    2.741935e+07
2190    2.692308e+07
2199    2.576923e+07
2414    6.372549e+06
3193    8.750000e+07
3444    4.500000e+07
dtype: float64
84      5.000000e+06
124     9.493671e+06
2104    9.000000e+06
2144    8.000000e+06
2161    8.000000e+06
2184    1.000000e+07
2222    8.490566e+06
2247    8.200000e+06
dtype: float64
87      4.142857e+06
127     1.669412e+07
131     1.000000e+07
2102    1.000000e+07
2150    1.295455e+07
2171             NaN
2312    1.062500e+07
2314    3.409091e+07
2645    1.000000e+07
2928    1.192708e+07
2985    1.200980e+07
3249    1.968504e+07
3455    5.125000e+06
dtype: float64
88      4.357143e+07
260     3.767442e+07
331     4.080460e+07
360     4.571429e+07
379     3.305556e+07
454     2.750000e+07
522     3.483146e+07
572     4.062500e+07
629     4.451613e+07
680     4.066667e+07
884     3.764706e+07
1040    4.062500e+07
1069    4.105263e+07
1085    4.450000e+07
1161    5.100000e+07
1206    3.180000e+07
1255    4.948980e+07
1282    3.076923e+07
1294    4.050633e+07
1482    3.661972e+07
1581    3.386364e+07
1718    4.153846e+07
1769    4.375000e+07
1884    3.500000e+07
1907    4.311111e+07
1915    3.500000e+07
1936    3.470588e+07
2040    5.333333e+07
2302    3.480519e+07
2946    3.490000e+07
2977    3.800000e+07
3021    3.750000e+07
3351    4.500000e+07
dtype: float64
91      4.047297e+07
3436    4.500000e+07
3458    4.054054e+07
dtype: float64
94      3.492308e+07
244     3.550000e+07
390     3.867647e+07
944     3.404255e+07
1020    3.960000e+07
1055    3.870968e+07
1076    4.824561e+07
1140    3.541667e+07
1155    3.500000e+07
1243    4.144737e+07
1244    4.600000e+07
1296    3.571429e+07
1770    4.526316e+07
1834    5.288462e+07
1866    4.000000e+07
1872    3.254545e+07
2077    4.210526e+07
2183    3.970588e+07
2309    3.214286e+07
2402    3.030303e+07
2428    3.769231e+07
3022    4.310345e+07
3071    3.727273e+07
dtype: float64
95      2.857143e+07
241     1.559140e+07
477     1.699248e+07
480     1.700000e+07
1461    1.371681e+07
1467    1.333333e+07
1468    9.375000e+06
1470    1.350427e+07
2579    1.047619e+07
2749    2.592593e+07
3388    1.425000e+07
dtype: float64
96      3.636364e+07
191     3.350877e+07
1036    5.000000e+07
1453    3.690476e+07
1571    5.200000e+07
1629    3.076923e+07
2205    2.700000e+07
3005    3.013699e+07
3290    4.148148e+07
3321    5.954545e+07
3352    3.000000e+07
dtype: float64
97      2.357143e+07
2387    2.625000e+07
2738    2.285714e+07
2759    2.046154e+07
3327    2.384615e+07
3346    1.696970e+07
dtype: float64
98      5.234375e+07
291     6.598958e+07
292     6.097561e+07
882     4.062500e+07
1012    6.200000e+07
1015    7.182320e+07
1017    6.500000e+07
1018    5.821918e+07
1019    4.592593e+07
1046    5.500000e+07
2351    7.488152e+07
2517    6.373626e+07
2519    7.182320e+07
2520    6.809816e+07
2732    4.300000e+07
2936    3.857143e+07
2939    6.922222e+07
2941    7.222222e+07
3361    6.496815e+07
3366    7.900000e+07
3372    5.234375e+07
3453    6.000000e+07
dtype: float64
102     1.300000e+08
364     7.709497e+07
365     7.226562e+07
725     5.121951e+07
741     8.074534e+07
1008    1.300000e+08
1095    6.315789e+07
1192    7.407407e+07
1281    6.466165e+07
1502    4.941176e+07
1755    6.322581e+07
3051    1.500000e+08
3477    5.333333e+07
dtype: float64
106     4.000000e+07
1432    3.600000e+07
2143    3.500000e+07
2994    2.571429e+07
2997    3.786765e+07
3166    3.666667e+07
dtype: float64
107    10400000.0
dtype: float64
111    1.025641e+07
dtype: float64
117     1.770833e+07
173     2.309859e+07
225     2.631579e+07
408     2.470588e+07
446     2.300000e+07
            ...
3277    2.463768e+07
3294    2.181818e+07
3339    2.884615e+07
3424    2.653846e+07
3430    2.307692e+07
Length: 91, dtype: float64
118    3.300000e+07
530    4.076923e+07
dtype: float64
119     4.000000e+07
962     3.401460e+07
1552    4.212963e+07
1555    3.824074e+07
1558    4.186047e+07
2364    3.532609e+07
2374    3.806818e+07
2602    3.880597e+07
dtype: float64
120     4.000000e+07
3158    3.297872e+07
3224    4.095238e+07
dtype: float64
122     3.590909e+07
2607    1.983607e+07
2907    4.487179e+07
2992    3.166667e+07
dtype: float64
126     1.000000e+07
771     1.200000e+07
877     9.000000e+06
1360    1.150000e+07
2334    1.325000e+07
2384    1.200000e+07
2451    1.196078e+07
2453    1.100000e+07
2454    1.200000e+07
2455    1.104762e+07
2456    1.249524e+07
2457    1.020000e+07
2458    1.000000e+07
2462    1.000000e+07
2669    9.000000e+06
3403    8.490566e+06
dtype: float64
128     1.200000e+07
136     2.250000e+04
2189    7.600000e+06
2786    1.526316e+07
3060    9.090909e+06
dtype: float64
129     4.500000e+07
923     2.926829e+07
2404    2.800000e+07
2696    2.553191e+07
2697    4.785714e+07
2699    3.095238e+07
2701    4.824561e+07
2702    3.750000e+07
2710    4.444444e+07
2714    3.833333e+07
2753    4.126984e+07
2754    2.553191e+07
2757    3.600000e+07
2767    4.235294e+07
dtype: float64
134     3.500000e+07
949     3.250000e+07
1121    3.265625e+07
1667    2.126984e+07
1668    2.830189e+07
1672    3.100000e+07
1848    3.058252e+07
1893    3.070175e+07
2308    2.037037e+07
2325    2.875000e+07
2333    1.818182e+07
2447    2.206349e+07
2518    1.875000e+07
2756    2.500000e+07
2855    2.567568e+07
2973    1.233333e+07
3047    2.400000e+07
3147    2.700000e+07
3153    2.337662e+07
3240    2.500000e+07
3248    2.189655e+07
3267    6.818182e+07
3329    2.548148e+07
3330    2.548148e+07
dtype: float64
135    1.714286e+07
dtype: float64
139     2.702128e+07
140     1.278571e+07
141     1.275000e+07
281     3.016529e+07
389     1.458333e+07
            ...
3301    3.222222e+06
3302    4.916667e+06
3311    1.511111e+07
3427    6.653846e+06
3440    3.508772e+07
Length: 88, dtype: float64
142     1.515152e+07
214     2.300000e+07
804     1.866667e+07
1621    1.537037e+07
1659    2.790698e+07
1684    2.906977e+07
2010    2.258065e+07
2089    1.515152e+07
2128    1.660000e+07
2133    1.500000e+07
2203    1.791667e+07
2210    1.933333e+07
2215    2.111940e+07
2216    2.015385e+07
2217    1.805556e+07
2228    1.729167e+07
2781    1.383333e+07
2783    1.696970e+07
2785    1.491525e+07
2798    1.854545e+07
3083    1.686047e+07
3227    1.100000e+07
3261    1.541667e+07
3303    1.407407e+07
3465    1.850000e+07
dtype: float64
144     40000000.0
2091    40000000.0
2564    25000000.0
2565    25000000.0
dtype: float64
145     2.571429e+07
2092    2.571429e+07
2491    3.941176e+07
dtype: float64
147     1.000000e+07
188     1.200000e+07
189     1.037736e+07
942     2.792208e+07
946     3.055556e+07
974     1.759259e+07
1640    7.666667e+06
2094    1.000000e+07
2182    1.782609e+07
2241    1.461111e+07
2331    8.000000e+07
2397    8.000000e+06
2658    5.538462e+06
2687    7.000000e+06
3045    1.000000e+07
3289    2.207547e+07
dtype: float64
149     3.008130e+07
253     3.000000e+07
256     2.894737e+07
264     2.884615e+07
289     3.437500e+07
            ...
3266    3.411765e+07
3272    3.028169e+07
3280    3.100000e+07
3395    3.266667e+07
3425    3.750000e+07
Length: 109, dtype: float64
153     5.500000e+07
165     8.500000e+07
167     6.000000e+07
180     8.000000e+07
196     7.500000e+07
            ...
2934    6.500000e+07
3058    7.307692e+07
3363    6.500000e+07
3364    8.000000e+07
3398    5.000000e+07
Length: 67, dtype: float64
157    53000000.0
dtype: float64
159     9.461538e+07
174     8.474576e+07
206     7.454545e+07
207     5.481481e+07
217     4.734848e+07
            ...
3265    9.000000e+06
3304    5.034722e+07
3316    8.536585e+07
3317    7.187500e+07
3343    1.240000e+07
Length: 141, dtype: float64
161     1.278947e+08
574     6.960000e+07
1312    1.744271e+08
1313    8.200000e+07
1404    8.352941e+07
1639    6.395349e+07
1871    9.814815e+07
1920    1.527273e+08
2277    1.111111e+08
2391    5.785714e+07
2468    9.000000e+07
3184    1.645714e+08
3237    9.714286e+07
3442    7.777778e+07
dtype: float64
164     5.340909e+07
1000    7.000000e+07
1253    6.200000e+07
1309    6.125000e+07
1519    5.413793e+07
2399    8.051948e+07
2461    8.000000e+07
2639    6.363636e+07
2665    6.037736e+07
2712    6.622807e+07
dtype: float64
170     6.480000e+07
171     6.500000e+07
177     7.000000e+07
179     6.051471e+07
183     5.106383e+07
321     5.504587e+07
347     7.000000e+07
463     5.548387e+07
633     5.500000e+07
634     5.677419e+07
651     5.200690e+07
734     6.000000e+07
739     5.213675e+07
744     4.676471e+07
753     5.400000e+07
754     5.450450e+07
755     5.078125e+07
758     5.714286e+07
794     4.230769e+07
796     4.857143e+07
1115    7.000000e+07
1125    6.206897e+07
1133    7.000000e+07
1258    6.273885e+07
1288    6.190476e+07
1374    5.205479e+07
1441    6.206897e+07
1483    7.475000e+07
1682    7.000000e+07
1738    4.375000e+07
1771    5.925926e+07
1969    5.806452e+07
1982    4.545455e+07
1988    4.949495e+07
1992    6.446602e+07
2233    5.406977e+07
2237    5.217391e+07
2392    4.700000e+07
2393    6.513761e+07
2441    5.318182e+07
2522    4.552817e+07
2763    5.066667e+07
3043    5.375000e+07
3062    6.120000e+07
3085    6.051471e+07
3399    5.500000e+07
dtype: float64
172     2.183099e+07
1380    2.371134e+07
2134    2.243243e+07
2167    2.473684e+07
2316    2.200000e+07
2318    2.048780e+07
2321    1.906250e+07
2322    1.846154e+07
2773    1.540541e+07
2870    3.000000e+07
2965    3.000000e+07
2975    2.353846e+07
3178    1.979167e+07
dtype: float64
187     2.857143e+07
657     3.750000e+07
675     3.142857e+07
696     9.857143e+06
1493    4.000000e+07
1623    2.857143e+07
1910    3.111111e+07
1923    3.904762e+07
2111    6.000000e+07
dtype: float64
194     1.750000e+07
807              NaN
1429    8.555556e+06
1433    7.096774e+06
1789    2.559524e+07
1973    4.000000e+07
1974    9.444444e+06
2059    1.500000e+07
2467    6.282051e+06
2481    6.428571e+06
2504    6.722222e+06
2506    7.211538e+06
2507    2.226415e+07
2521    1.867470e+07
2583    6.538462e+07
2620    6.933333e+06
2638    1.145161e+07
2647    1.000000e+07
2655    1.500000e+07
3000    6.666667e+06
3379    1.842105e+07
3413    9.375000e+06
3464    6.329787e+06
dtype: float64
200     2.300000e+07
2642    1.526316e+07
2685    3.392857e+07
3387    2.153846e+07
dtype: float64
203     6.993333e+07
316     1.296296e+08
330     1.500000e+08
523     8.740741e+07
560     1.400000e+08
561     7.299270e+07
563     7.586207e+07
565     1.882353e+08
566     9.426752e+07
567     1.117647e+08
568     1.049470e+08
653     9.961686e+07
654     7.586207e+07
718     7.444444e+07
1153    1.773399e+08
1323    1.870000e+08
1342    1.250000e+08
1531    1.200000e+08
1534    8.900000e+07
1625    6.842105e+07
1707    2.200000e+08
1740    5.500000e+07
2266    1.000000e+08
2357    8.869565e+07
2361    1.333333e+08
2365    1.565217e+08
2502    7.500000e+07
dtype: float64
212     2.300000e+07
1035    1.746988e+07
1050    1.761364e+07
1073    1.772941e+07
1083    1.700000e+07
1093    1.675000e+07
1117    2.300000e+07
1135    1.753086e+07
1260    1.800000e+07
1344    1.821277e+07
1368    1.850000e+07
dtype: float64
215     7.555556e+07
261     1.100000e+08
265     1.100000e+08
354     1.100000e+08
382     1.000000e+08
            ...
3253    7.500000e+07
3358    7.333333e+07
3374    7.500000e+07
3471    8.989362e+07
3475    8.192771e+07
Length: 68, dtype: float64
218     2.300000e+07
223     2.300000e+07
663     2.300000e+07
2140    5.747126e+07
2293    1.315789e+07
2350    2.048193e+07
2853    2.222222e+07
dtype: float64
220     7.530120e+07
554     8.965517e+07
812     5.555556e+07
813     5.875000e+07
816     6.578947e+07
817     5.294118e+07
818     7.363636e+07
1176    7.288889e+07
1236    1.525000e+07
1246    6.538462e+07
1851    6.439394e+07
dtype: float64
229     2.300000e+07
664     2.300000e+07
1766    2.600000e+07
3031    1.719298e+08
dtype: float64
233     5.882353e+07
334     5.675676e+07
358     6.435644e+07
385     6.434783e+07
411     9.146341e+07
424     5.692308e+07
532     5.714286e+07
535     6.818182e+07
578     8.391304e+07
585     7.000000e+07
603     8.000000e+07
616     5.200000e+07
623     5.500000e+07
742     4.625000e+07
819     1.200000e+08
854     3.707865e+07
1209    7.000000e+07
1225    6.666667e+07
1641    5.322581e+07
1727    6.416667e+07
1752    3.805310e+07
1785    6.333333e+07
1787    5.309735e+07
1792    6.530612e+07
1797    5.478261e+07
1825    5.882353e+07
1864    7.545455e+07
1870    6.666667e+07
1879    4.588235e+07
1949    6.500000e+07
1951    7.115385e+07
2349    5.000000e+07
2362    9.090909e+07
2388    7.500000e+07
2436    5.909091e+07
2443    5.500000e+07
2483    7.857143e+07
2593    6.666667e+07
2633    6.025641e+07
2863    6.315789e+07
2945    8.756757e+07
3238    6.000000e+07
dtype: float64
237     4.844828e+07
407     5.781250e+07
851     4.477273e+07
1286    4.375000e+07
1290    4.736842e+07
1304    4.558824e+07
1318    4.913793e+07
dtype: float64
284     9.333333e+06
285     7.800000e+06
356     8.000000e+06
1700    8.181818e+06
1970    1.000000e+07
2179    6.200000e+06
dtype: float64
287     3.241379e+07
2597    2.968750e+07
dtype: float64
294     5.411765e+07
295     4.000000e+07
1022    6.481481e+07
2943    5.300000e+07
dtype: float64
309     5.555556e+07
350     9.400000e+07
761     4.500000e+07
1142    9.000000e+07
1715    6.250000e+07
1719    7.440000e+07
2290    6.000000e+07
2770    6.626506e+05
3306    5.954545e+07
3313    5.954545e+07
dtype: float64
355     6.000000e+07
1148    7.130435e+07
2584    3.000000e+07
2769    5.700000e+07
2831    5.700000e+07
3096    8.500000e+07
3107    1.200000e+08
dtype: float64
370     3.797468e+07
421     4.800000e+07
481     5.894737e+07
482     4.736842e+07
483     5.098039e+07
484     5.208333e+07
635     6.025641e+07
1037    7.052632e+07
1362    6.500000e+07
1471    6.363636e+07
1472    5.877193e+07
1475    6.436782e+07
1476    3.269231e+07
1480    3.947368e+07
1486    4.634146e+07
1489    4.245283e+07
1687    3.233333e+07
1810    1.290780e+08
2671    3.846154e+07
2877    3.750000e+07
2915    3.839286e+07
2948    3.863636e+07
3397    4.652778e+07
dtype: float64
380     3.040541e+07
960     3.809524e+07
2653    3.000000e+07
2704    2.701149e+07
dtype: float64
392     9.000000e+07
2359    6.074766e+07
dtype: float64
409     2.041667e+07
444     2.228070e+07
455     3.066667e+07
460     1.990196e+07
1348    2.340909e+07
1370    4.200000e+07
1371    2.327273e+07
2901    2.873563e+07
dtype: float64
430     2.125000e+08
431     8.333333e+07
1349    9.000000e+07
2779    8.333333e+07
dtype: float64
442     2.941176e+07
2557    1.350000e+07
dtype: float64
472     2.500000e+07
700     1.024752e+07
874     1.060000e+07
1271    2.500000e+07
1643    7.666667e+06
dtype: float64
473     5.200000e+07
2720    4.571429e+07
2778    2.805310e+07
dtype: float64
478     2.300000e+07
1208    2.775000e+07
2008    2.160656e+07
2211    1.694118e+07
2252    1.083333e+07
2381    1.744186e+07
2582    1.762500e+07
2590    1.902439e+07
2718    1.951220e+07
2747    1.977778e+07
2811    1.989796e+07
2857    1.989796e+07
2872    1.836735e+07
2883    1.759615e+07
2937    1.772152e+07
2962    1.926829e+07
2964    1.736842e+07
3037    1.730769e+07
3042    1.776316e+07
3052    1.989796e+07
3065    1.958763e+07
3128    1.620000e+07
3420    1.977778e+08
dtype: float64
486     2.854545e+07
729     1.545455e+07
778     2.666667e+07
780     1.617647e+07
781     1.617647e+07
1490    2.200000e+07
2200    1.597015e+07
2335    3.000000e+07
2348    2.144444e+07
2352    2.200000e+07
2474    2.222222e+07
2599    1.813559e+07
2608    2.000000e+07
2609    1.645161e+07
2755    1.977778e+07
2849    1.702128e+07
2911    1.511111e+07
2971    2.416667e+07
3229    2.982456e+07
3239    1.955556e+07
dtype: float64
487     4.916667e+06
502     5.055556e+06
698     1.004854e+07
1679    1.458333e+07
1782    1.458333e+07
2373    2.000000e+07
2625    6.900000e+06
2648    1.458333e+07
2677    1.511111e+07
2684    1.458333e+07
2695    1.493333e+07
3061    7.666667e+06
3141    7.666667e+06
3149    2.711864e+06
3156    1.411290e+07
3177    1.461111e+07
dtype: float64
500     3.570000e+07
800     3.102410e+07
2512    4.695652e+07
2619    1.400000e+07
2873    2.300000e+07
2880    2.767857e+07
2903    2.636364e+07
2917    2.862500e+07
dtype: float64
519     4.200000e+07
676     3.580000e+07
1081    3.085938e+07
1389    6.842105e+07
1444    6.000000e+07
1591    6.735751e+07
3167    1.280000e+07
3332    6.000000e+07
3373    6.735751e+07
dtype: float64
524     2.200000e+07
525     3.800000e+07
837     3.700000e+07
1398    3.488372e+07
1442    3.400000e+07
1484    4.038462e+07
1614    3.176471e+07
1637    2.600000e+07
2681    2.840909e+07
3086    2.692308e+07
dtype: float64
528    56000000.0
dtype: float64
660     2.300000e+07
697     1.981818e+07
846     2.058824e+07
1802    1.785714e+07
2165    1.708333e+07
2326    2.000000e+07
2796    2.000000e+07
2797    1.521739e+07
3072    2.025000e+07
3105    1.460000e+07
3151    2.693548e+07
dtype: float64

677     3.906250e+07
681     3.103448e+07
1922    2.804878e+07
1928    3.647059e+07
2115    2.812500e+07
dtype: float64
683    3.782609e+07
dtype: float64
722     5.100000e+07
768     5.000000e+06
1088    3.750000e+07
1110    5.200000e+07
1322    6.321839e+06
1329    3.873239e+07
1376    5.500000e+07
1501    4.495575e+07
2013    5.494253e+07
2291    3.617021e+07
2385    3.636364e+07
2758    3.932584e+07
3207    1.967213e+07
3291    4.215686e+07
dtype: float64
727     9.000000e+07
737     8.482759e+07
959     9.500000e+07
1177    9.000000e+07
1205    8.500000e+07
1265    5.918367e+07
1757    6.428571e+07
2452    9.000000e+07
2828    8.000000e+07
dtype: float64
735     7.823129e+07
1024    1.600000e+08
1025    1.604167e+08
1180    1.600000e+08
1275    8.400000e+07
1551    1.467742e+08
1723    1.315789e+08
1768    1.600000e+08
1863    1.575000e+08
2269    1.987805e+07
2285    7.500000e+07
2616    7.000000e+07
2628    1.000000e+08
2663    1.145833e+08
3130    6.725146e+07
3254    1.440000e+08
3260    7.840000e+07
dtype: float64
764     5.500000e+07
1270    1.400000e+08
1385    6.200000e+07
1675    5.789474e+07
1702    6.666667e+07
2459    6.500000e+07
2805    5.714286e+07
2838    5.200000e+07
2972    7.385185e+07
2979    5.903614e+07
3002    7.227723e+07
3010    7.400000e+07
3117    6.941176e+07
3285    5.466667e+07
3422    7.100000e+07
dtype: float64
790     1.737500e+07
791     1.788636e+07
792     1.821277e+07
1242    1.684932e+07
2505    1.675000e+07
2509    1.850000e+07
2533    5.708333e+06
dtype: float64
824     5.204678e+07
826     5.500000e+07
827     5.918367e+07
1221    6.571429e+07
2226    4.800000e+07
2232    5.600000e+07
2478    4.651163e+07
2956    5.625000e+07
3016    4.927536e+07
3056    4.814815e+07
3103    5.391304e+07
3140    4.500000e+07
3204    1.000000e+08
3213    6.136364e+07
3230    5.500000e+07
3258    5.148515e+07
3326    9.000000e+07
3328    6.884058e+07
dtype: float64
831     1.000000e+08
1402    7.522124e+07
3370    7.500000e+07
dtype: float64
839     7.500000e+06
2396    4.500000e+06
2586    7.000000e+06
2666    4.375000e+06
3174    4.895349e+06
dtype: float64
893     1.470588e+07
895     1.470588e+07
1713    1.470588e+07
dtype: float64
919     2.717391e+07
2700    6.000000e+07
2725    6.000000e+07
2794    4.038462e+07
3027    7.014925e+06
3439    6.000000e+07
3452    6.000000e+07
3469    5.500000e+07
dtype: float64
929     1.040000e+07
2103    8.372093e+06
dtype: float64
961     3.000000e+07
1403    2.900000e+07
1411    2.402062e+07
1420    2.705882e+07
2803    2.625000e+07
2804    2.142857e+07
2807    3.500000e+07
2813    2.500000e+07
2814    2.100000e+07
2817    3.000000e+07
2818    2.500000e+07
2819    2.555556e+07
2820    2.700000e+07
2821    2.600000e+07
2823    2.790698e+07
2824    3.708861e+07
2825    2.400000e+07
2826    1.866667e+07
2827    2.581818e+07
2830    2.100000e+07
2832    2.333333e+07
2845    2.075472e+07
2999    2.545455e+07
dtype: float64
984    8000000.0
dtype: float64
988     1.406250e+07
989     2.500000e+07
992     1.623656e+07
2741    1.710526e+07
2864    1.479167e+07
2866    1.300000e+07
2867    1.600000e+07
2868    1.541667e+07
3018    1.666667e+07
dtype: float64
994     1.640625e+07
2168    4.000000e+07
2324    2.937500e+07
3235    2.666667e+07
dtype: float64
1026    6.111111e+07
1728    5.769231e+07
2137    5.411765e+07
dtype: float64
1032    6.500000e+07
1141    9.900990e+07
1347    6.300000e+07
1352    7.500000e+07
1919    1.350000e+08
dtype: float64
1080    2.000000e+07
1521    2.000000e+07
1595    2.000000e+07
2117    3.000000e+07
2450    2.500000e+07
2466    2.467742e+07
2983    2.900000e+07
3423    3.189189e+07
dtype: float64
1091    2.300000e+07
2930    1.627907e+07
dtype: float64
1103    7.000000e+07
1106    5.000000e+07
1152    5.377358e+07
1170    6.153846e+07
1207    6.847826e+07
1211    5.297297e+07
1220    5.154639e+07
1234    4.300000e+07
1264    5.416667e+07
1280    6.000000e+07
1390    5.375000e+07
1574    5.000000e+07
1586    5.181818e+07
1589    5.445545e+07
1901    4.695652e+07
1935    3.950000e+07
1947    5.312500e+07
2141    4.500000e+07
2234    7.891156e+07
2240    6.760000e+07
2245    4.298246e+07
2250    6.029412e+07
2254    6.666667e+07
2260    5.833333e+07
2262    4.615385e+07
2267    7.407407e+07
2617    5.454545e+07
2698    1.307692e+08
2837    5.333333e+07
2910    7.000000e+07
2951    6.631579e+07
2981    4.918033e+07
3106    6.203252e+07
3148    6.000000e+07
3216    7.333333e+07
3288    1.125000e+08
3307    3.909091e+07
3417    5.500000e+07
dtype: float64
1114    5.294118e+07
1539    6.000000e+07
2438    5.701754e+07
2472    3.786408e+07
dtype: float64
1122    4.393617e+07
dtype: float64
1128    3.100000e+07
1381    3.400000e+07
1938    3.527559e+07
2678    3.300000e+07
2840    3.238806e+07
dtype: float64
1134    2.682927e+07
2501    1.988095e+07
dtype: float64
1162    6.198347e+07
1303    4.400000e+07
dtype: float64
1178    2.866667e+07
1300    3.406593e+07
1607    3.311881e+07
1617    4.000000e+07
1913    3.130435e+07
2516    3.794872e+07
dtype: float64
1247    2.309859e+07
dtype: float64
1273    44531250.0
dtype: float64
1400    4.769231e+07
2002    6.798030e+07
2004    6.850000e+07
2006    6.584158e+07
2011    6.650000e+07
2016    6.683168e+07
2018    6.782178e+07
2028    7.000000e+07
2029    7.079208e+07
dtype: float64
1503    2.321429e+07
3344    2.133333e+07
dtype: float64
1518    3.333333e+06
2736    5.000000e+06
dtype: float64
1612    2.800000e+07
3011    1.111111e+07
dtype: float64
1631    5.540541e+07
dtype: float64
1635    2.003484e+08
3144    5.448276e+07
dtype: float64
1648    3.296703e+07
2435    2.428571e+07
2643    2.115385e+07
3371    2.500000e+07
dtype: float64
1763    5.888889e+07
2283    6.724138e+07
3419    6.250000e+07
dtype: float64
1856    2.775701e+07
dtype: float64
1946    1.397849e+07
3030    1.607143e+07
3409    1.550000e+07
dtype: float64
1977    2.068966e+07
2847    2.500000e+07
dtype: float64
2108    1.629630e+07
dtype: float64
2112    7.476636e+06
dtype: float64
2142    2.219298e+07
2940    4.914286e+07
3448    1.470588e+07
dtype: float64
2152    1.860465e+07
3320    2.058824e+07
dtype: float64
2177    6.818182e+06
dtype: float64
2196    4.750000e+06
3257    4.166667e+06
dtype: float64
2235    22000000.0
dtype: float64
2248    14000000.0
dtype: float64
2279    2.450980e+07
dtype: float64
2297    8.720930e+06
dtype: float64
2310    5.491803e+07
3375    7.086957e+07
dtype: float64
2427    4.769231e+07
dtype: float64
2439    3.683333e+07
2793    5.075758e+07
dtype: float64
2471    1.700000e+07
2511    2.081633e+07
3104    3.194118e+07
dtype: float64
2473    1.478723e+07
2503    1.795181e+07
dtype: float64
2493    2.343125e+07
2496    2.302706e+07
2497    5.714286e+06
2498    2.283900e+07
2499    2.301278e+07
2859    1.683333e+07
dtype: float64
2574    2.819149e+07
3165    2.857143e+07
dtype: float64
2581    3.260870e+07
dtype: float64
2613    5.545455e+06
2618    5.468750e+06
dtype: float64
2632    22000000.0
dtype: float64
2654    8.205128e+06
dtype: float64
2673    1.054054e+07
dtype: float64
2694    41000000.0
dtype: float64
2706    140000000.0
dtype: float64
2722    1.100000e+08
3064    5.666667e+07
dtype: float64
2735    6.000000e+07
2765    6.500000e+07
2944    2.814815e+07
dtype: float64
2739    1.500000e+07
2751    8.522727e+06
2878    6.989247e+06
2908    7.878788e+06
3429    6.666667e+06
dtype: float64
2743    9200000.0
dtype: float64
2801    13500000.0
dtype: float64
2916    7.846154e+06
dtype: float64
2942    5.172414e+07
3367    8.037383e+07
dtype: float64
3057    1.420000e+07
3075    1.475000e+07
3091    1.192857e+07
dtype: float64
3081    1.951220e+07
dtype: float64
3097    2.166667e+07
dtype: float64
3115    4.666667e+06
dtype: float64
3129    2.190476e+07
3428    1.904762e+07
dtype: float64
3168    1.269841e+07
dtype: float64
3188    4.027778e+07
dtype: float64
3196    1.164384e+07
dtype: float64
3217    10078125.0
dtype: float64
3287    6.103896e+06
dtype: float64
3296    7.000000e+06
3456    6.046512e+06
dtype: float64
3297    1.289855e+07
dtype: float64
3323    1.523810e+07
dtype: float64
3404    2.301587e+07
dtype: float64
3426    1.515152e+07
dtype: float64

In [7]:
data['mean_price']

0       2.936508e+07
1       3.083333e+07
2       6.962025e+06
3       9.500000e+06
4       5.691057e+07
            ...
3474    4.069767e+07
3475    8.192771e+07
3476    4.866667e+06
3477    5.333333e+07
3478    4.390244e+06
Name: mean_price, Length: 3479, dtype: float64

In [4]:
# print(f'Number of Duplicated in our datase is : {data.duplicated().sum()}')

In [4]:
data['Parking'] = data['Parking'].astype('int8')
data['Warehouse'] = data['Warehouse'].astype('int8')
data['Elevator'] = data['Elevator'].astype('int8')
# data['Area'] = data['Area'].astype('float64')
data['Area'] = pd.to_numeric(data['Area'], errors='coerce')  # see: https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html
data

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63.0,1,1,1,1,Shahran,1.850000e+09,61666.67
1,60.0,1,1,1,1,Shahran,1.850000e+09,61666.67
2,79.0,2,1,1,1,Pardis,5.500000e+08,18333.33
3,95.0,2,1,1,1,Shahrake Qods,9.025000e+08,30083.33
4,123.0,2,1,1,1,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3474,86.0,2,1,1,1,Southern Janatabad,3.500000e+09,116666.67
3475,83.0,2,1,1,1,Niavaran,6.800000e+09,226666.67
3476,75.0,2,0,0,0,Parand,3.650000e+08,12166.67
3477,105.0,2,1,1,1,Dorous,5.600000e+09,186666.67
3478,82.0,2,0,1,1,Parand,3.600000e+08,12000.00

In [6]:
data.dtypes

Area          float64
Room            int64
Parking          int8
Warehouse        int8
Elevator         int8
Address        object
Price         float64
Price(USD)    float64
dtype: object

In [7]:
data.isnull().sum()

Area           6
Room           0
Parking        0
Warehouse      0
Elevator       0
Address       23
Price          0
Price(USD)     0
dtype: int64

In [5]:
data = data.dropna()
data.isnull().sum()

Area          0
Room          0
Parking       0
Warehouse     0
Elevator      0
Address       0
Price         0
Price(USD)    0
dtype: int64

In [9]:
data

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63.0,1,1,1,1,Shahran,1.850000e+09,61666.67
1,60.0,1,1,1,1,Shahran,1.850000e+09,61666.67
2,79.0,2,1,1,1,Pardis,5.500000e+08,18333.33
3,95.0,2,1,1,1,Shahrake Qods,9.025000e+08,30083.33
4,123.0,2,1,1,1,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3474,86.0,2,1,1,1,Southern Janatabad,3.500000e+09,116666.67
3475,83.0,2,1,1,1,Niavaran,6.800000e+09,226666.67
3476,75.0,2,0,0,0,Parand,3.650000e+08,12166.67
3477,105.0,2,1,1,1,Dorous,5.600000e+09,186666.67
3478,82.0,2,0,1,1,Parand,3.600000e+08,12000.00

In [6]:
data = data.drop(columns=['Price(USD)'])
data.head()

    Area  Room  Parking  Warehouse  Elevator         Address         Price
0   63.0     1        1          1         1         Shahran  1.850000e+09
1   60.0     1        1          1         1         Shahran  1.850000e+09
2   79.0     2        1          1         1          Pardis  5.500000e+08
3   95.0     2        1          1         1   Shahrake Qods  9.025000e+08
4  123.0     2        1          1         1  Shahrake Gharb  7.000000e+09

In [11]:
data.shape

(3450, 7)

In [7]:
data['Address'].unique()

array(['Shahran', 'Pardis', 'Shahrake Qods', 'Shahrake Gharb',
       'North Program Organization', 'Andisheh', 'West Ferdows Boulevard',
       'Narmak', 'Saadat Abad', 'Zafar', 'Islamshahr', 'Pirouzi',
       'Shahrake Shahid Bagheri', 'Moniriyeh', 'Velenjak', 'Amirieh',
       'Southern Janatabad', 'Salsabil', 'Zargandeh', 'Feiz Garden',
       'Water Organization', 'ShahrAra', 'Gisha', 'Ray', 'Abbasabad',
       'Ostad Moein', 'Farmanieh', 'Parand', 'Punak', 'Qasr-od-Dasht',
       'Aqdasieh', 'Pakdasht', 'Railway', 'Central Janatabad',
       'East Ferdows Boulevard', 'Pakdasht KhatunAbad', 'Sattarkhan',
       'Baghestan', 'Shahryar', 'Northern Janatabad', 'Daryan No',
       'Southern Program Organization', 'Rudhen', 'West Pars', 'Afsarieh',
       'Marzdaran', 'Dorous', 'Sadeghieh', 'Chahardangeh', 'Baqershahr',
       'Jeyhoon', 'Lavizan', 'Shams Abad', 'Fatemi',
       'Keshavarz Boulevard', 'Kahrizak', 'Qarchak',
       'Northren Jamalzadeh', 'Azarbaijan', 'Bahar',
       'Persian Gulf Martyrs Lake', 'Beryanak', 'Heshmatieh',
       'Elm-o-Sanat', 'Golestan', 'Shahr-e-Ziba', 'Pasdaran',
       'Chardivari', 'Gheitarieh', 'Kamranieh', 'Gholhak', 'Heravi',
       'Hashemi', 'Dehkade Olampic', 'Damavand', 'Republic', 'Zaferanieh',
       'Qazvin Imamzadeh Hassan', 'Niavaran', 'Valiasr', 'Qalandari',
       'Amir Bahador', 'Ekhtiarieh', 'Ekbatan', 'Absard', 'Haft Tir',
       'Mahallati', 'Ozgol', 'Tajrish', 'Abazar', 'Koohsar', 'Hekmat',
       'Parastar', 'Lavasan', 'Majidieh', 'Southern Chitgar', 'Karimkhan',
       'Si Metri Ji', 'Karoon', 'Northern Chitgar', 'East Pars', 'Kook',
       'Air force', 'Sohanak', 'Komeil', 'Azadshahr', 'Zibadasht',
       'Amirabad', 'Dezashib', 'Elahieh', 'Mirdamad', 'Razi', 'Jordan',
       'Mahmoudieh', 'Shahedshahr', 'Yaftabad', 'Mehran', 'Nasim Shahr',
       'Tenant', 'Chardangeh', 'Fallah', 'Eskandari', 'Shahrakeh Naft',
       'Ajudaniye', 'Tehransar', 'Nawab', 'Yousef Abad',
       'Northern Suhrawardi', 'Villa', 'Hakimiyeh', 'Nezamabad',
       'Garden of Saba', 'Tarasht', 'Azari', 'Shahrake Apadana', 'Araj',
       'Vahidieh', 'Malard', 'Shahrake Azadi', 'Darband', 'Vanak',
       'Tehran Now', 'Darabad', 'Eram', 'Atabak', 'Sabalan', 'SabaShahr',
       'Shahrake Madaen', 'Waterfall', 'Ahang', 'Salehabad', 'Pishva',
       'Enghelab', 'Islamshahr Elahieh', 'Ray - Montazeri',
       'Firoozkooh Kuhsar', 'Ghoba', 'Mehrabad', 'Southern Suhrawardi',
       'Abuzar', 'Dolatabad', 'Hor Square', 'Taslihat', 'Kazemabad',
       'Robat Karim', 'Ray - Pilgosh', 'Ghiyamdasht', 'Telecommunication',
       'Mirza Shirazi', 'Gandhi', 'Argentina', 'Seyed Khandan',
       'Shahrake Quds', 'Safadasht', 'Khademabad Garden', 'Hassan Abad',
       'Chidz', 'Khavaran', 'Boloorsazi', 'Mehrabad River River',
       'Varamin - Beheshti', 'Shoosh', 'Thirteen November', 'Darakeh',
       'Aliabad South', 'Alborz Complex', 'Firoozkooh', 'Vahidiyeh',
       'Shadabad', 'Naziabad', 'Javadiyeh', 'Yakhchiabad'], dtype=object)

In [13]:
data[data['Address'] == 'Shahran'].index

Int64Index([   0,    1,    7,   22,   56,   65,   77,   83,  105,  213,
            ...
            3269, 3274, 3275, 3348, 3385, 3405, 3416, 3418, 3446, 3470],
           dtype='int64', length=130)

In [14]:
# data.loc[data[data['Address'] == 'Shahran'].index]

# data.loc[data[data['Address'] == 'Shahran'].index]['Price']

data.loc[data[data['Address'] == 'Shahran'].index]['Price'].mean()

2985753846.1538463

In [8]:
data['mean_price'] = 0
address_names = data['Address'].unique()
mean_prices = {}
for address in address_names:
    indices = data[data['Address'] == address].index
    data.loc[indices, 'mean_price'] = (data.loc[indices]['Price'] / data.loc[indices]['Area']).mean()
#     print(data.loc[indices]['Price'] / data.loc[indices]['Area'])
data = data.drop(columns = ['Address'])

In [9]:
data

       Area  Room  Parking  Warehouse  Elevator         Price    mean_price
0      63.0     1        1          1         1  1.850000e+09  3.636805e+07
1      60.0     1        1          1         1  1.850000e+09  3.636805e+07
2      79.0     2        1          1         1  5.500000e+08  7.900050e+06
3      95.0     2        1          1         1  9.025000e+08  9.818188e+06
4     123.0     2        1          1         1  7.000000e+09  8.319035e+07
...     ...   ...      ...        ...       ...           ...           ...
3474   86.0     2        1          1         1  3.500000e+09  3.862659e+07
3475   83.0     2        1          1         1  6.800000e+09  1.027806e+08
3476   75.0     2        0          0         0  3.650000e+08  6.107964e+06
3477  105.0     2        1          1         1  5.600000e+09  8.147615e+07
3478   82.0     2        0          1         1  3.600000e+08  6.107964e+06

[3450 rows x 7 columns]

In [17]:
data

,Area,Room,Parking,Warehouse,Elevator,Address,Price,mean_price
0,63.0,1,1,1,1,Shahran,1.850000e+09,3.636805e+07
1,60.0,1,1,1,1,Shahran,1.850000e+09,3.636805e+07
2,79.0,2,1,1,1,Pardis,5.500000e+08,7.900050e+06
3,95.0,2,1,1,1,Shahrake Qods,9.025000e+08,9.818188e+06
4,123.0,2,1,1,1,Shahrake Gharb,7.000000e+09,8.319035e+07
...,...,...,...,...,...,...,...,...
3474,86.0,2,1,1,1,Southern Janatabad,3.500000e+09,3.862659e+07
3475,83.0,2,1,1,1,Niavaran,6.800000e+09,1.027806e+08
3476,75.0,2,0,0,0,Parand,3.650000e+08,6.107964e+06
3477,105.0,2,1,1,1,Dorous,5.600000e+09,8.147615e+07
3478,82.0,2,0,1,1,Parand,3.600000e+08,6.107964e+06

In [10]:
X = data.loc[:, data.columns != 'Price'].to_numpy()  # convert dataframe to numpy array
y = data.loc[:, data.columns == 'Price'].to_numpy()

In [13]:
y.shape

(3450, 1)

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

In [21]:
X_train

array([[185.0, 3, 1, ..., 1, 'East Ferdows Boulevard', 39370418.96127962],
       [100.0, 2, 0, ..., 0, 'Northren Jamalzadeh', 37163415.75277586],
       [235.0, 3, 1, ..., 1, 'Gheitarieh', 76519315.8573703],
       ...,
       [97.0, 2, 1, ..., 1, 'Pardis', 7900050.36823808],
       [58.0, 5, 0, ..., 1, 'Parand', 6107964.011065496],
       [95.0, 2, 1, ..., 1, 'Damavand', 15469877.88978225]], dtype=object)

In [15]:
from sklearn.preprocessing import MinMaxScaler

X_scaler = MinMaxScaler()
X_train = X_scaler.fit_transform(X_train)
X_test = X_scaler.transform(X_test)

y_scaler = MinMaxScaler()
y_train = y_scaler.fit_transform(y_train)

In [16]:
X_train

array([[0.20022247, 0.8       , 1.        , 1.        , 0.        ,
        0.25991704],
       [0.13681869, 0.4       , 1.        , 1.        , 1.        ,
        0.63842352],
       [0.13014461, 0.6       , 1.        , 1.        , 1.        ,
        0.44611218],
       ...,
       [0.08676307, 0.4       , 1.        , 1.        , 1.        ,
        0.10329696],
       [0.11123471, 0.6       , 1.        , 1.        , 1.        ,
        0.15920329],
       [0.06451613, 0.2       , 0.        , 0.        , 1.        ,
        0.01429176]])

In [17]:
from sklearn import linear_model

# reg = linear_model.Lasso(alpha=1)
reg = linear_model.Ridge(alpha=0.02)
reg.fit(X_train, y_train)

Ridge(alpha=0.02)

In [18]:
y_hat = reg.predict(X_test)
y_hat = y_scaler.inverse_transform(y_hat.reshape([-1, 1]))
print(sum(abs(y_hat - y_test))/len(y_hat))

[2.3010622e+09]

Here is another code of this project in kaggle.

https://www.kaggle.com/code/payamamanat/full-regression-models-for-houseprice